:root{

    --white : #ffffff;
    --padding :  0% 30px;
    --allPadding : 30px;

    --poppins : 'Poppins', sans-serif;

}


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    opacity: 0.5;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgb(138, 138, 138); 
    border-radius: 10px;
}

.border{

    border: 2px solid black;

}

section{

    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: var(--allPadding) ;

    overflow: hidden;

}

.hero-section{

    background: linear-gradient(249.13deg, #778BF2 1.31%, #E0597A 101.48%);
}

.header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: var(--padding);

}
.ham{

    filter: invert(1);
    display: none;
}

.nav{

    width: fit-content;
    margin-left: 50%;
    transform: translateX( -50% );

}

.nav > span{

    margin-right: 50px;
    color: var(--white);

    font-family: var(--poppins);
    font-weight: 600;
    font-size: 1.125vw;
    line-height: 33px;
    letter-spacing: 0.1em;

    cursor: pointer;


}

.shop-cart{

    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    
    cursor: pointer;

}

.hero{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 90%;
    width: 100%;

    overflow: hidden;

}

.hero > img{

    transform: rotate(-22.93deg) scale(0.6) ;

}

.hero > span{

    position: absolute;

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13.75vw;
    line-height: 191px;
    letter-spacing: 0.265em;

    opacity: 0.6;

    color: var(--white);

}

.scroll{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;

    cursor: pointer;

}

.scroll > span{

    font-family: var(--poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    letter-spacing: 0.015em;

    color: #FFFFFF;

}

.cta-section{

    flex-direction: row;

}

.shoe{

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5.1325vw;
    overflow: visible;

}

.shoe > img:nth-child(1){

    transform: translate( -10px , 50px) rotate(10deg);

}

.shoe > img:nth-child(2){

    position: absolute;
    z-index: -1;

}

.cta{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 45%;

}


.cta > span:nth-child(1){

    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 7.375vw;
    line-height: 102px;
    letter-spacing: 0.095em;

    background: linear-gradient(249.13deg, #778BF2 1.31%, #E0597A 101.48%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}



.cta > span:nth-child(2){

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;


    color: #656565;

}

.cta > button{

    background: linear-gradient(249.13deg, #778BF2 1.31%, #E0597A 101.48%);
    border-radius: 2px;

    width: 200px;
    height: 60px;

    margin-top: 50px;

    outline: none;
    border: none;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 37px;

    letter-spacing: 0.04em;

    color: #FFFFFF;

    cursor: pointer;

}

.hor-scroll{

    flex-direction: row;
    background: linear-gradient(249.13deg, rgba(119, 139, 242, 0.47) 1.31%, rgba(224, 89, 122, 0.69) 101.48%);

    overflow: hidden;

}

.slider{

    display: flex;
    flex-direction: row;
    max-height: 100%;

    position: relative;
    left: 80%;

}

.slider > div {

    margin-right: 250px;

}